@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  font-size: 5vh;
}

#app {
  height: 100vh;
}

.score-board {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.modify-score {
  /* TODO: Properly center this */
  position: absolute;
  left: calc(50vh - 1rem);
  top: calc(50vh - 1rem);
}

.score-card {
  text-align: center;
  line-height: 3em;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  .score-number {
    margin: 0;
    font-size: 4rem;
  }

  .score-name {
    margin: 0;
    font-size: 1.2rem;
  }
}
